<h2>Etudiants</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-hover">
                <thead>
                    <tr>
                       <th>Nom</th><th>Prenom</th><th>Photo Etudiants</th><th>Date de naissance</th><th>Date d'inscription</th><th>Montant</th><th>Dernier mois paye</th><th>Adresse</th><th>Num Telephone</th>
                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let etudiant of Etudiants">
                    
                <td>{{etudiant.nom}}</td><td>{{etudiant.prenom}}</td><td>{{etudiant.photoEtud}}</td><td>{{etudiant.datenais}}</td><td>{{etudiant.dateinsc}}</td> <td>{{etudiant.montant}}</td> <td>{{etudiant.dernmoipay}}</td><td>{{etudiant.adress}}</td><td>{{etudiant.telper}}</td>
     
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="col-lg-7">
            <div class="card">
                    <div class="card-header bg-info text-white">
                       Inscription
                    </div>

                    <div class="card-body">
                         <form [formGroup]="EtudiantForm">
                             <div class="form-group">
                                <label for="">Nom:</label>
                                <input type="text" class="form-control" formControlName="nom"/>
                             </div>
                                <div class="alert alert-danger" *ngIf="EtudiantForm.controls['nom'].invalid && (EtudiantForm.controls['nom'].touched || EtudiantForm.controls['nom'].dirty)">
                                    Le nom est obligatoire

                                </div>
                             <div class="form-group">
                                <label for="">Prenom:</label>
                                <input type="text" class="form-control" formControlName="prenom"/>
                             </div>
                                <div class="alert alert-danger" *ngIf="EtudiantForm.controls['prenom'].invalid && (EtudiantForm.controls['prenom'].touched || EtudiantForm.controls['prenom'].dirty)">
                                    Le prenom est obligatoire

                                </div>

                                  <div class="form-group">
                                <label for="">Lien de photo:</label>
                                <input type="text" class="form-control" formControlName="photoEtud"/>
                             </div>

                             <div class="form-group">
                                <label for="">Date de naissance(format:jj/mm/aa):</label>
                                <input type="text" class="form-control" formControlName="datenais"/>
                             </div>

                                  <div class="form-group">
                                <label for="">Date d'inscription:</label>
                                <input type="text" class="form-control" formControlName="dateinsc"/>
                             </div>

                             <div class="form-group">
                                <label for="">Date d'inscription:</label>
                                <input type="text" class="form-control" formControlName="dateinsc"/>
                             </div>

                             <div class="form-group">
                                <label for="">Montant formation:</label>
                                <input type="text" class="form-control" formControlName="montant"/>
                             </div>

                             <div class="form-group">
                                <label for="">Dernier mois paye:</label>
                                <input type="text" class="form-control" formControlName="dernmoipay"/>
                             </div>

                             <div class="form-group">
                                <label for="">Adresse:</label>
                                <input type="text" class="form-control" formControlName="adress"/>
                             </div>

                             <div class="form-group">
                                <label for="">Telephone:</label>
                                <input type="text" class="form-control" formControlName="telper"/>
                             </div>
                             <button class="btn btn-success" [disabled]="EtudiantForm.invalid">Ajouter</button>
                         </form>

                    </div>
                    <div class="card-footer">

                    </div>
            </div>

        </div>
    </div>
</div>
