<h2>Formations</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <table class="table table-hover">
                <thead>
                    <tr>
                       <th>Matieres</th><th>Branche</th><th>Temps requis</th><th>Jour d'ouverture</th> 
                    </tr>

                </thead>

                <tbody>
                    <tr *ngFor="let formation of Formations">
                    
                <td>{{formation.nom}}</td><td>{{formation.type}}</td><td>{{formation.dure}}</td><td>{{formation.datedeb}}</td>
     
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="col-lg-5">
            <div class="card">
                    <div class="card-header bg-info text-white">
                        Proposition de formation (Option professeur)
                    </div>

                    <div class="card-body">
                         <form [formGroup]="formationForm">
                             <div class="form-group">
                                <label for="">Matiere:</label>
                                <input type="text" class="form-control" formControlName="nom"/>
                             </div>
                                <div class="alert alert-danger" *ngIf="formationForm.controls['nom'].invalid && (formationForm.controls['nom'].touched || formationForm.controls['nom'].dirty)">
                                    Le nom de la matiere est obligatoire

                                </div>

                                  <div class="form-group">
                                <label for="">Temps requis(en mois):</label>
                                <input type="number" class="form-control" formControlName="dure"/>
                             </div>

                             <div class="form-group">
                                <label for="">Branche:</label>
                                <input type="text" class="form-control" formControlName="type"/>
                             </div>

                                  <div class="form-group">
                                <label for="">Jour d'ouverture:</label>
                                <input type="text" class="form-control" formControlName="datedeb"/>
                             </div>
                             <button class="btn btn-success" [disabled]="formationForm.invalid">Ajouter</button>
                         </form>

                    </div>
                    <div class="card-footer">

                    </div>
            </div>

        </div>
    </div>
</div>

<!-- <ul>
    <li *ngFor="let formation of Formations">
    Filiere: {{formation.nom}} , Temps: {{formation.dure}} , Debut: {{formation.datedeb}}  
    </li>
</ul> -->
