     <div class="row body">
    <div class="col-lg-3" *ngIf="showHideSideBar">
    <app-sidebar></app-sidebar>;
    </div>
         <div class="col-lg-9" >
        <app-navbar 
        [showSideBar]="showHideSideBar"
        (showSideBarChange)="onshowSideBarChange($event)"
        ></app-navbar>
        <app-content></app-content>
          </div>
</div>
<h2>__________________________________Formations</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <table class="table table-hover">
                <thead>
                    <tr>
                       <th>Matieres</th><th>Branche</th><th>Jour d'ouverture</th><th>Temps requis</th>  
                         <th>
                           <button class="btn btn-outline-success" (click)="operation='add'; initFormation()" >Ajouter Formation</button>
                        </th>
                    </tr>

                </thead>

                <tbody>
                     <tr *ngFor="let formation of Formations">
                    
                    <td>{{formation.nomFormation}}</td><td>{{formation.typeFormation}}</td><td>{{formation.dateDebut}}</td><td>{{formation.dureeFomation}}</td>    
                <td>
                      <button class="btn btn-outline-primary btn-sm" (click)="operation='edit'; selectedFormation=formation;">Editer</button>
                       <button class="btn btn-outline-danger btn-sm"(click)="operation='remove';selectedFormation=formation;"> Supprimer</button>
                 </td>     

                    </tr> 
                </tbody>
            </table>

                        <!-- <table class="table table-hover">
                <thead>
                    <tr>
                       <th>Salle</th><th>Capacite de la salle</th>         
                          
                    </tr>

                </thead>

                <tbody>
                     <tr *ngFor="let formation of Formations">
                    
                    <td>{{formation.salle.numeroSalle}}</td><td>{{formation.salle.capaciteSalle}}</td><td>{{formation.dateDebut}}</td><td>{{formation.dureeFomation}}</td>
     
                <td>
                      <button class="btn btn-outline-primary btn-sm" (click)="operation='edit'; selectedFormation=formation;">Editer</button>
                       <button class="btn btn-outline-danger btn-sm"(click)="operation='remove';selectedFormation=formation;"> Supprimer</button>
                 </td>     

                    </tr> 
                </tbody>
            </table> -->
        </div>
        <div class="col-lg-5">
            <div class="card">
                    <div class="card-header bg-info text-white">
                        {{operation == 'add' ? 'Ajouter Formation':
                          operation == 'edit' ? 'Modifier Formation':
                          operation == 'remove' ? 'Supprimer Formation' :'' }}
                       
                    </div>

                    <div class="card-body">

                        
                        <div *ngIf="operation == 'add' || operation == 'edit' "  >
                            <form [formGroup]="formationForm">

                            <!-- <div class="form-group">
                                <label for="">Pseudo:</label>
                                <input type="number" class="form-control" formControlName="idPer"/>
                             </div>
                                <div class="alert alert-danger" *ngIf="EtudiantForm.controls['idPer'].invalid && (EtudiantForm.controls['idPer'].touched || EtudiantForm.controls['idPer'].dirty)">
                                    L'identifiant est obligatoire

                                </div> -->
                                <div class="form-group">
                           <label for="">Matiere:</label>
                                <input type="text" class="form-control" formControlName="nomFormation" [(ngModel)]="selectedFormation.nomFormation"/>
                             </div>
                                <div class="alert alert-danger" *ngIf="formationForm.controls['nomFormation'].invalid && (formationForm.controls['nomFormation'].touched || formationForm.controls['nomFormation'].dirty)">
                                    Le nom de la matiere est obligatoire

                                </div>

                                <div class="form-group">
                                <label for="">Branche:</label>
                                <input type="text" class="form-control" formControlName="typeFormation" [(ngModel)]="selectedFormation.typeFormation"/>
                             </div>

                                  <div class="form-group">
                                <label for="">Jour d'ouverture:</label>
                                <input type="text" class="form-control" formControlName="dateDebut" [(ngModel)]="selectedFormation.dateDebut"/>
                             </div>


                                  <div class="form-group">
                                <label for="">Temps requis(en mois):</label>
                                <input type="text" class="form-control" formControlName="dureeFomation" [(ngModel)]="selectedFormation.dureeFomation"/>
                             </div>

                             
          
                             <button class="btn btn-success" [disabled]="formationForm.invalid" 
                             (click)="operation == 'add' ? addFormation() : updateFormation() " >
                             {{operation == 'add' ? 'Ajouter' : operation == 'edit' ? 'Modifier' : '' }}
                           
                            </button>
                         </form>
                        </div>

                            <div *ngIf="operation == 'remove'">
                                <p class="card_title">
                                Identifiant: {{selectedFormation.idFomartion}}

                            </p>
                            <p>
                                Voulez vous supprimer cette Formation?
                            </p>
                            <button class="btn btn-success" [disabled]="!selectedFormation.idFomartion" (click)="deleteFormation()"
                            >Confirmer</button>


                            </div>
                                                    

                         

                    </div>
                    <div class="card-footer">

                    </div>
            </div>

        </div>
</div>

